<!-- prettier-ignore -->
<% const items = [
  {
    label: 'ドロップダウンメニュー',
    forSearch: 'どろっぷだうんめにゅー',
    linkTo: '/csscopyand/items/dropdown.html'
  },
  {
    label: '吹き出し',
    forSearch: 'ふきだし',
    linkTo: '/csscopyand/items/balloon.html'
  },
  {
    label: 'オンオフ（トグル）ボタン',
    forSearch: 'おんおふ（とぐる）ぼたん',
    linkTo: '/csscopyand/items/onoff.html'
  },
  {
    label: 'ホバーで画像拡大',
    forSearch: 'ほばーでがぞうかくだい',
    linkTo: '/csscopyand/items/hoverimage.html'
  },
];%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./_ejsModules/head', { localTitle: null }) %>
  </head>
  <body>
    <div class="container">
      <%- include('./_ejsModules/header', { isIndex: true }) %>
      <main class="main">
        <div class="keywordFilter" data-js-selector="keywordFilter">
          <p class="keywordFilter__label">キーワードで絞り込む</p>
          <input type="text" class="keywordFilter__input" />
        </div>
        <ul class="indexes">
          <% items.forEach(({label, forSearch, linkTo}) => { %>
          <li class="indexes__item" data-js-attributes="<%= forSearch %>">
            <a
              href="<%= linkTo %>"
              target="_parent"
              class="indexes__item__link"
            >
              <%= label %>
            </a>
          </li>
          <% }) %>
        </ul>
      </main>
      <%- include('./_ejsModules/footer') %>
    </div>
    <%- include('./_ejsModules/foot') %>
  </body>
</html>
